a{
    TEXT-DECORATION:none;
}

.head{
	text-align: center; /*让div内部文字居中*/
	/* background-color: #fff; */
}
.name{
    font-size: 170%;
    font-weight: bold;
}
.content{
    font-family: Cambria, SimSun, “宋体”;
}
.title{
    font-size: 160%;
}
hr{
    height: 2px;
    border: none;
    border-top:2px solid
}
.bright{
    font-weight: bold;
}
.time{
    /* text-align: right; */
    float: right;
}